.jumbotron{
  text-align: center;
background-color: #ffebd3;

}
#heading1{
  text-decoration: underline;
  color: #264e70;
}
#heading2{
  font-style: italic;
  font-size: 20px;
  color: #c7004c;
}
.well{
  background-color: #ffebd3;

}
body{
  color: #679186;
  background-color: #ffb4ac;
}
h3{
  text-decoration: underline;
  text-align: center;
}
